<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-trophy"></i> Honors & Awards</h2>

<div class="item">
	<h4 class="title">NeurIPS Travel Grant</h4>
    <div class="time">2019</div>
	<h4 class="title">ICCV Student Volunteer Award</h4>
    <div class="time">2019</div>
	<h4 class="title">ICCV Travel Grant</h4>
    <div class="time">2019</div>
	<h4 class="title">JN Tata Travel Grant</h4>
    <div class="time">2019</div>
    <h4 class="title">JN Tata Endowment for Higher Education of Indians</h4>
    <div class="time">2019</div>
	<h4 class="title">Vector Institute Scholarship in AI</h4>
    <div class="time">2019</div>
    <h4 class="title">Machine Learning Summer School London Full Scholarship</h4>
    <div class="time">2019</div>
    <h4 class="title">Indian Academy Of Sciences Summer Research Fellowship</h4>
    <div class="time">2015</div>
</div><!--//item-->

</div><!--//talk-container-->