<div class="education-container container-block">
<h2 class="container-block-title"><i class="fa fa-television"></i> <a">Coursework</a></h2>
<h3 class="container-block-title">Undergraduate</h3>

<div class="item">
    <h6 class="venue"><a >Computer Programming</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Mathematics-I (Calculus, Algbera)</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Mathematics-II (Matrix Theory, Fourier Series, Ordinary Differential Equations)</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Data Structures</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Methods Of Applied Mathematics-I (Complex Analysis, Partial Differential Equations)</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Numerical And Statistical Methods</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Computer Networks</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Database Management Systems</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Digital Image Processing</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a >Machine Learning</a></h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->


<p>
<h3 class="container-block-title">Online</h3>

<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/records/32ULMWR9CQP4">Machine Learning</a></h6>
</div><!--//item-->


<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/specialization/WLFBTYESKG85">Deep Learning Specialization(5 course specialization)</a></h6>
</div><!--//item-->


<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/records/FDNHF7WBZLNQ">Practical Reinforcement Learning (with honors)</a></h6>
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/specialization/WLFBTYESKG85">Mathematics For Machine Learning Specialization (3 course specialization) </a></h6>
</div><!--//item-->


</div><!--//talk-container-->