<div class="education-container container-block">
<h2 class="container-block-title"><i class="fa fa-television"></i> Coursework</h2>
<h3 class="container-block-title">Undergraduate</h3>

<div class="item">
    <h6 class="time">Computer Programming</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Mathematics-I (Calculus, Algbera)</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Mathematics-II (Matrix Theory, Fourier Series, Ordinary Differential Equations)</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Data Structures</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Methods Of Applied Mathematics-I (Complex Analysis, Partial Differential Equations)</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Numerical And Statistical Methods</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Computer Networks</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Database Management Systems</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Digital Image Processing</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h6 class="time">Machine Learning</h6>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->


<p>
<h3 class="container-block-title">Online</h3>

<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/records/32ULMWR9CQP4">Machine Learning</a></h6>
</div><!--//item-->


<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/specialization/WLFBTYESKG85">Deep Learning Specialization(5 course specialization)</a></h6>
</div><!--//item-->


<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/records/FDNHF7WBZLNQ">Practical Reinforcement Learning (with honors)</a></h6>
</div><!--//item-->

<div class="item">
    <h6 class="venue"><a href="https://www.coursera.org/account/accomplishments/specialization/WLFBTYESKG85">Mathematics For Machine Learning Specialization (3 course specialization) </a></h6>
</div><!--//item-->


</div><!--//talk-container-->