<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-television"></i> <a href="http://shagunsodhani.in/talks/">Coursework</a></h2>
<h3 class="container-block-title">Undergraduate</h3>

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->


<p>
<h3 class="container-block-title">Online</h3>

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/PyDelhi">Machine Learning</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/pydelhi/events/232105316/">PyDelhi + PyData + ILUG-D + Linux Chix meetup mash</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/PyDelhi">Machine Learning</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/pydelhi/events/232105316/">PyDelhi + PyData + ILUG-D + Linux Chix meetup mash</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->


<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/PyDelhi">Machine Learning</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/pydelhi/events/232105316/">PyDelhi + PyData + ILUG-D + Linux Chix meetup mash</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/PyDelhi">Machine Learning</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/pydelhi/events/232105316/">PyDelhi + PyData + ILUG-D + Linux Chix meetup mash</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->



<div class="item">
    <h4 class="title"><a >Computer Programming</a></h4>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->


</div><!--//talk-container-->