 <div class="education-container container-block">
<h2 class="container-block-title"><i class="fa fa-graduation-cap"></i> Education</h2>

<!-- div class="item">
    <h4 class="degree">MS in Computer Science</h4>
    <h5 class="meta"><a href="http://www.umontreal.ca/en/">University of Montreal</a></h5>
    <div class="time">2017 - Present</div>
</div> -->

<div class="item">
    <h4 class="degree">MASc in Engineering (Aritficial Intelligence specialisation)</h4>
    <h5 class="meta"><a href="http://www.iitism.ac.in/">University of Guelph, Canada</a></h5>
    <div class="gpa-cum"><a> <b>GPA : </b> 90.14/100 </a></div>
    <div class="time">2019 - present</div>
</div>
<div class="item">
    <h4 class="degree">BTech in Electronics And Communication Engineering</h4>
    <h5 class="meta"><a href="http://www.iitism.ac.in/">Indian Institute of Technology, Dhanbad</a></h5>
    <div class="gpa-cum"><a> <b>Cumulative GPA : </b> 8.17/10 </a></div>
    <div class="time">2013 - 2017</div>
</div>

<!--//item-->
<!-- <div class="item">
    <h4 class="degree">BSc in Applied Mathematics</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div> -->
</div><!--//education-container-->