<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">January, 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://cds.iisc.ac.in/">Department Of Computational And Data Sciences</a>, <a href="https://iisc.ac.in/">Indian Institute Of Science</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Working in the area of Computer Vision</li>
                    </div><!--//details-->
                </div><!--//item-->

                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer</h3>
                            <div class="time">July 2017 - January 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/sensei.html">Data Science team at Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Taught Assistant for the Machine Learning course for employees at Adobe Systems.</li>
                            <li>Won the <a href="https://twitter.com/shagunsodhani/status/811254745994297344">Outstanding Young Engineers Award at Adobe Systems</a>. The award recognises young engineers displaying outstanding technical acumen and innovation.</li>
                            <li>Worked to automate the process of converting scanned forms into adaptive forms by understanding the semantics of the form.</li>
                            <li>Co-mentored two summer internship projects (2017) related to Structure Extraction from scanned documents and Visual Question Answering.</li>
                            <li>Prototyped a conversational agent to automate tech support conversations.</li>
                            <li>Co-mentored an internship project (2016) to model Reinforcement Learning based Conversational Agents for usecases like browsing an ecommerce site. This work was presented at Adobe Tech Summit (2017).</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Science Intern</h3>
                            <div class="time">June, 2016 - September, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.blackcoffer.com/">BlackCoffer</a>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked as a teaching assistant for the 3-course series focusing on <a href="https://www.edx.org/xseries/data-science-engineering-apache-spark/">Data Science and Engineering with Spark XSeries</a></li>
                            <li>The course was created in partnership with professors from <a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://www.ucla.edu/">University of California, Los Angeles</a> and <a href="https://databricks.com/">Databricks</a> and was offered on the <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX platform</a></li>
                            <li>Helped in creating assignments for the students and assisted them on the Piazza</li></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Research Intern</h3>
                            <div class="time">May, 2015 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.iith.ac.in/">Indian Institute Of Technology, Hyderabad</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked in the area of Instore User Experience Enhancement to improve foot-fall in brick and mortar stores.</li>
                            <li>Used the store’s context to model and propose solutions based on Internet of Things, and Bluetooth Low Energy devices.</li></p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->