<section class="section Research Experience-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research Assistant</h3>
                            <div class="time">January 2020 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.gwtaylor.ca/">Machine Learning Research Group</a>, <a href="https://www.uoguelph.ca/">University of Guelph</a> and <a href="https://vectorinstitute.ai/">Vector Institute of Artificial Intelligence</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Pursuing research on representation learning + cognitive sceince</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Associate</h3>
                            <div class="time">October 2018 - April 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.shell.in/business-customers/shell-energy-india.html">Shell Technology Center, Bangalore</a>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Implemented image denoising, contrast enhancement, segmentation and super-resolution algorithms for large scale 3D µ-CT digital rock images in MATLAB and C++</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Computer Vision Intern</h3>
                            <div class="time">March 2018 - September 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.hyperworksimaging.co/">Hyperworks Imaging, Bangalore</a>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Implemented person detection, labeling and re-identification methods on real-world videos from a multi camera network using Python (Pytorch, OpenCV, PyQT5)</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Research Assistant</h3>
                            <div class="time">January 2018 - April 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://visual-computing.in/home/">Visual Computing Lab</a>, <a href="http://cds.iisc.ac.in/">Department Of Computational And Data Sciences</a>, <a href="https://iisc.ac.in/">Indian Institute Of Science</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked on different computer vision research and engineering problems both in academic and industrial projects. Topics included object detection, person re-identification and visual question answering</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

 </section><!--//section-->
