<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">September, 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://mila.umontreal.ca/">MILA</a>, <a href="http://www.umontreal.ca/en/">University of Montreal</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Working in the area of Natural Language Understanding.</li>
                    </div><!--//details-->
                </div><!--//item-->

                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member of Technical Staff II</h3>
                            <div class="time">June 2016 - September 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/sensei.html">Data Science team at Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Taught Assistant for the Machine Learning course for employees at Adobe Systems.</li>
                            <li>Won the <a href="https://twitter.com/shagunsodhani/status/811254745994297344">Outstanding Young Engineers Award at Adobe Systems</a>. The award recognises young engineers displaying outstanding technical acumen and innovation.</li>
                            <li>Worked to automate the process of converting scanned forms into adaptive forms by understanding the semantics of the form.</li>
                            <li>Co-mentored two summer internship projects (2017) related to Structure Extraction from scanned documents and Visual Question Answering.</li>
                            <li>Prototyped a conversational agent to automate tech support conversations.</li>
                            <li>Co-mentored an internship project (2016) to model Reinforcement Learning based Conversational Agents for usecases like browsing an ecommerce site. This work was presented at Adobe Tech Summit (2017).</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member of Technical Staff I</h3>
                            <div class="time">June 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/in/marketing-cloud/web-analytics/marketing-analytics-capabilities.html">Analytics and Data Science team at Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Developed application for mining interesting insights from multi-channel data. This work was presented at Adobe Data Scientist Summit (2016).</li>
                            <li>Developed an interactive data exploration tool on top of Spark to assist data scientists on Adobe’s Data Platform.</li>
                            <li>Developed a web service layer over Analytics Premium (DataWorkBench) with optimisations like sharding, caching sub-query results, and streaming partially aggregated results to support thin clients like web dashboards. </li>
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">June, 2016 - September, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://databricks.com/">Databricks</a>, <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked as a teaching assistant for the 3-course series focusing on <a href="https://www.edx.org/xseries/data-science-engineering-apache-spark/">Data Science and Engineering with Spark XSeries</a></li>
                            <li>The course was created in partnership with professors from <a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://www.ucla.edu/">University of California, Los Angeles</a> and <a href="https://databricks.com/">Databricks</a> and was offered on the <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX platform</a></li>
                            <li>Helped in creating assignments for the students and assisted them on the Piazza</li></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">May, 2014 - July 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://research.adobe.com/about-the-labs/bigdata-experience-lab/">BigData Experience Lab, Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked in the area of Instore User Experience Enhancement to improve foot-fall in brick and mortar stores.</li>
                            <li>Used the store’s context to model and propose solutions based on Internet of Things, and Bluetooth Low Energy devices.</li></p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->