<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-ticket"></i>Extracurricular Activites</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Community Teaching Assistant</h3>
                            <div class="time">June 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.coursera.org/learn/machine-learning/home/welcome">Machine Learning, Coursera</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Serving as a community TA on the Coursera Machine Learning after being invited for exception performance and participation in the course and completing Coursera's two week training on the same.</li>
                            <li>Involved with solving learner's issues related to the topics and programming assignments via discussion forums as well as mediating with Coursera for the same.</li>
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
                
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member</h3>
                            <div class="time">September 2017 - December 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Patent Ideation Team, Sasmung Research Institute - Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked to spread awareness about open source practices & guidelines across Adobe Systems.</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member and Co-Ordinator</h3>
                            <div class="time">August 2014 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.facebook.com/groups/quiziapaclub.ism/">Quiziapa (Quiz Club), IIT (ISM) Dhanbad</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Organised college level quiz events and participated in inter-college and national level events.</li>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->