<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-ticket"></i>Extracurricular Activites</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member</h3>
                            <div class="time">March 2017 - September 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/">Open Source Advisory Board, Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked to spread awareness about open source practices & guidelines across Adobe Systems.</li>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-initiator, Secretary and Treasurer</h3>
                            <div class="time">January 2014 - December 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.iitr.ac.in/acm/">ACM Student Chapter, IIT Roorkee</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Co-initiated ACM Student Chapter as the first departmental computer science society for students at IIT Roorkee.</li>
                            <li>Worked to promote the knowledge of computer science by providing students with a platform to interact with distinguished academicians and professionals.</li>
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Secretary</h3>
                            <div class="time"> April 2013 - March 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://pag.sdslabs.co/">Programming and Algorithms Group, IIT Roorkee</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Problem setter for different programming contests including IIT Roorkee's annual algorithmic programming contest called Insomnia.</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member</h3>
                            <div class="time">January 2012 - May 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://sdslabs.co/">SDSLabs (Software Development Group), IIT Roorkee</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked on and mentored various student driven software projects.</li>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->