<section class="section Development Experience-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Software Development Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Content Engineer</h3>
                            <div class="time">April 2019 - June 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.deeplearning.ai/">Deeplearning.ai</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Developed Tensorflow assignments and Docker based auto-graders for Coursera’s Deep Learning specialization
                        </p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer</h3>
                            <div class="time">July 2017 - January 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://research.samsung.com/sri-d">SVC-SW Team At Samsung Research Delhi</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Worked on the video-on-demand applications team to develop streaming applications like Netflix and Amazon Prime for Linux-based Tizen-OS for Smasung's Smart TV platform
                        </p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Science Intern</h3>
                            <div class="time">June, 2016 - September, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.blackcoffer.com/">BlackCoffer</a>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Worked on individual projects consulting on text analysis and time series modelling
                        </p>   
                    </div><!--//details-->
                </div><!--//item-->


                
            </section><!--//section-->