<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                  <!--   <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/sshkhr/prosthetics-rl/">Deep Policy Gradients To Train Musculo-Skeletal Controller To Walk</a></a></span> - <span class="project-tagline">Reinforcement Learning based controller for musculo-skeletal model to enable it to walk using policy gradient approaches (Proximal Policy Optimization (PPO) and Deep Deterministic Policy Gradients (DDPG)). Received $500 cloud credits from Google for being Top 100 in NIPS 2018 challenge</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/sshkhr/RAINBOW">Playing FPS Game from Raw Pixels by Combining Improvements From Deep Q-Learning</a></span> - 
                    <span class="project-tagline">Combined improvements in Deep Q-Learning like target nets, dueling architecture, prioritized experience replay etc as in state-of-the-art <a href = "https://arxiv.org/abs/1710.02298">RAINBOW (paper from DeepMind at AAAI 2018)</a> to play the FPS game DOOM using the VizDoom framework from only the image pixels. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.kaggle.com/sshekhar/competitions">Bi-Linear Convolutional Neural Nets For Fine-Grained Visual Classification</a></span> - <span class="project-tagline">Implemented <a href = "https://arxiv.org/abs/1710.02298"> Bi-Linear CNNs for Fine-grained Visual Recognition (ICCV 2015)</a> and ensembled with other classifiers to perform both single-label and multi-label type image classification forthe iMaterialist Challenge as part of the FGVC5 Workshop at CVPR 2018. Finished &lt;50/~1000 participants</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/sshkhr"> Classifying Hate Speech in Wikipedia Dialogues using Recurrent Neural Nets</a></span> - <span class="project-tagline"> Implemented Long Short Term Memory (LSTM), Gated Recurrent Units (GRU), Bilinear & Stacked versions of both, Attention as well as using word embeddings from Glove and FastText to perform text classification. Achieved 98.58% mean ROC-AUC score</a></span>
                </div><!--//item-->
            </section><!--//section-->