<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-television"></i> <a href="http://shagunsodhani.in/talks/">Talks</a></h2>
<h3 class="container-block-title">2017</h3>

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/WomenWhoCode/07.23.2017">Deep Learning using Image Captioning with TensorFlow & Keras</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/Women-Who-Code-Delhi/events/239975459/">Women Who Code</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/WomenWhoCode/06.04.2017">Python for Machine Learning</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/Women-Who-Code-Delhi/events/240426878/">Women Who Code</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://www.commonlounge.com/discussion/afdf4715a6064dbead77fa417c9b1145/main">Question & Answer Session on Deep Learning</a></h4>
    <h5 class="venue"><a href="https://www.commonlounge.com/community/9dcdd386cc28446695305db00d2de532">Commonlounge Community</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/Community/PyDelhiConference">Panel Discussion on state of Python in Delhi/NCR</a></h4>
    <h5 class="venue"><a href="https://conference.pydelhi.org">PyDelhi Conference</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/PyDelhiConf2017">Functional Programming in Python</a></h4>
    <h5 class="venue"><a href="https://conference.pydelhi.org">PyDelhi Conference</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->

<p>
<h3 class="container-block-title">2016</h3>
<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/PyDelhi">Introduction to Deep Learning with Keras</a></h4>
    <h5 class="venue"><a href="https://www.meetup.com/pydelhi/events/232105316/">PyDelhi + PyData + ILUG-D + Linux Chix meetup mash</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/TwitterDeveloperGroup">Introduction to Deep Learning with Keras</a><h4>
    <h5 class="venue"><a href="https://www.meetup.com/Delhi-Twitter-Developers-Community/events/234585082/">Twitter Developer Group Meetup</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/ML/DigitalOcean">Introduction to Machine Learning with Scikit-Learn</a></h4>
    <h5 class="venue"><a href="http://www.meetup.com/DigitalOceanDelhi/events/234327766/">Digital Ocean Meetup</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/PyCon2016">Big Data Analysis using PySpark</a></h4>
    <h5 class="venue"><a href="https://in.pycon.org/cfp/2016/proposals/big-data-analysis-using-pyspark~b8Mld/">PyCon India</h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
<div class="item">
    <h4 class="title"><a href="https://github.com/shagunsodhani/talks/tree/master/spark/BDI">Getting Started with Apache Spark</a></h4>
    <h5 class="venue"><a href="http://www.iitr.ac.in/media/facspace/patelfec/16Bit/index.html">Big Data Training Program, IIT Roorkee</a></h5>
    <!-- <div class="time">2017</div> -->
</div><!--//item-->
</div><!--//talk-container-->